<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Создание магазина</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<div class="container">
    <h1 class="p-3">Добавить новый магазин</h1>
    <form method="POST" class="m-3" th:object="${shop}" id="form">
        <label for="validationAdress">Адресс магазина</label>
        <div class="input-group">
            <input type="text" class="form-control"  name="adress" id="validationAdress" placeholder="Адресс магазина" aria-describedby="inputGroupPrepend" required>
        </div>

        <label for="validationNAme">Название магазина</label>
        <div class="input-group">
            <input type="text" class="form-control" name="name" id="validationName" placeholder="Название магазина" required>
        </div>
        <div class="container">
            <br>
            <button class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Создать">Создать</button>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/validation.js}"/>

</div>
</body>
</html>