<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: #head"></head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<div class="container">
    <h1 class="p-3">Добавить новый чек</h1>
    <form method="POST" class="m-3" th:object="${check}" id="form">
        <label for="validationSum">Сумма</label>
        <div class="input-group">
            <input type="number" step="0.01" class="form-control"  name="sum" id="validationSum" placeholder="Сумма" aria-describedby="inputGroupPrepend" required>
        </div>
        <div class="container">
            <br>
            <button class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Создать">Создать</button>
        </div>
    </form>
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</div>

</body>
</html>