<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Информация</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:src="@{/js/visualization/graphics.js}"></script>

<div>
    <br><br>
    <div class="d-flex justify-content-center">
        <h1>Магазин: </h1>    <h1 th:text="${shop.name}"></h1>
    </div>
    <div class="d-flex justify-content-center">
        <h1>Адресс: </h1>    <h1 th:text="${shop.adress}"></h1>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Колличество чеков: </h3>    <h3 th:text="${count}"></h3> <h3>шт.</h3>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Общая сумма продаж: </h3>    <h3 th:text="${sum}"></h3> <h3>p.</h3>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Средний чек: </h3>    <h3 th:text="${avg}"></h3> <h3>p.</h3>
    </div>
</div>

<body th:onload="@{drawChart('{info}');(info=${infoDay})}" ></body>

<div class="container">
    <div id="chart_div"></div>
</div>
<div class="container">
    <div id="chart_div2"></div>
</div>

</body>

</html>