<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Магазины</title>
</head>
<body>
    <div th:replace="base :: #nav"></div>
    <div th:replace="base :: #libs"></div>
    <div class="container">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Адресс</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="s : ${shops}">
                <tr>
                    <td th:text="${s.name}"> </td>
                    <td th:text="${s.adress}"> </td>
                    <td><a class="btn btn-sm btn-block btn-outline-primary" th:href="@{/{id}(id=${s.id})}" role="button">Подробнее</a></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</body>
</html>