<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Магазин</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="container" >
    <br>
    <br><br>
    <div class="d-flex justify-content-center">
        <h1>Магазин: </h1>    <h1 th:text="${shop.name}"></h1>
    </div>
    <div class="d-flex justify-content-center">
        <h1>Адресс: </h1>    <h1 th:text="${shop.adress}"></h1>
    </div>
    <br><br>
</div>

<form method="POST">
    <div class="container d-flex justify-content-center">
            <a class="btn btn-sm btn-outline-primary col-sm-3" th:href="@{/{id}/createCheck(id=${shop.id})}" role="button">Добавить чек</a>
<!--        <a class="btn btn-sm btn-outline-primary" onclick="check()" type="submit" th:href="@{/{id}/graphic(id=${s.id})}"  formnovalidate  value="graf">uhabr</a>-->
         <button class="btn btn-sm btn-outline-primary col-sm-3" type="submit" >Отобразить информацию</button>
    </div>
    <br><br><br>
    <div class="container d-flex justify-content-center" >
            <label for="validationStartDate">C</label>
            <div class="col-sm-3" th:object="${check1}" >
                <input type="date" class="form-control" id="validationStartDate" name="date" placeholder="Дата" required>
            </div>
            <label for="validationEndDate">По</label>
            <div class="col-sm-3" th:object="${check2}">
                <input type="date" class="form-control" id="validationEndDate" name="date" placeholder="Дата" required>
            </div>
    </div>
</form>

</body>

</html>