<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Магазин</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!--<script type="text/javascript" th:src="@{/js/validation.js}"/>-->

<!--<link rel="stylesheet" href="daterangepicker/daterangepicker.css">-->
<!--<script src="daterangepicker/moment.js"></script>-->
<!--<script src="daterangepicker/daterangepicker.js"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="daterangepicker/moment.js"></script>-->
<!--<script src="daterangepicker/daterangepicker.js"></script>-->


<div class="container" >
    <br>
</div>

<form method="POST">
    <div class="container d-flex justify-content-center">
            <a class="btn btn-sm btn-outline-primary col-sm-3" th:href="@{/{id}/createCheck(id=${shop.id})}" role="button">Добавить чек</a>
<!--        <a class="btn btn-sm btn-outline-primary" onclick="check()" type="submit" th:href="@{/{id}/graphic(id=${s.id})}"  formnovalidate  value="graf">uhabr</a>-->
         <button class="btn btn-sm btn-outline-primary col-sm-3" type="submit" >График</button>
    </div>
    <br><br><br>
    <div class="container d-flex justify-content-center" >
            <label for="validationStartDate">C</label>
            <div class="col-sm-3" th:object="${check1}" >
                <input type="date" class="form-control" id="validationStartDate" name="date" placeholder="Дата" required>
            </div>
            <label for="validationEndDate">По</label>
            <div class="col-sm-3" th:object="${check2}">
                <input type="date" class="form-control" id="validationEndDate" name="date" placeholder="Дата" required>
            </div>
    </div>
</form>

</body>

</html>