<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Магазины</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<script type="text/javascript" th:src="@{/js/visualization/comShops.js}"></script>
<div class="container">

</div>
<div class="container" >
    <br>
    <div class="d-flex justify-content-center">
        <button class="btn btn-sm btn-outline-primary col-sm-3" th:onclick="show(th:)" >Отобразить информацию</button>
    </div>
</div>
</body>
</html>