<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="base :: #head"></div>
    <title>Информация</title>
</head>
<body>
<div th:replace="base :: #nav"></div>
<div th:replace="base :: #libs"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:src="@{/js/visualization/graphicsComShops.js}"></script>


<body th:onload="@{drawChart('{info}');(info=${infoDay})}" ></body>

7397302442,05
3854656467,28

2200590664,75

<div class="container">
    <div id="chart_div"></div>
</div>
<div class="container">
    <div id="chart_div2"></div>
</div>

</body>

</html>